extend layout

block content
  h1 Edit your profile

  form(method='POST', action='/profile')
    label(for='avatar')
      span Avatar
      #current-avatar.ascii
        if profile.avatar
          pre=profile.avatar
      #preview
      input(type='file', id='avatar-picker')
      textarea(class='hidden', name='avatar', id='avatar')

    label(for='name')
      span Name
      input(type='text', name='name', value=profile.name)

    label(for='bio')
      span Bio
      input(type='text', name='bio', value=profile.bio)

    label(for='url')
      span URL
      input(type='text', name='url', value=profile.url)

    input(type='hidden', name='_csrf', value=csrf)
    button(type='submit') Update
