extend layout

block content
  h1 Edit your profile

  if errors
    ul.errors
      for error in errors
        li= error

  form(method='POST', action='/profile')
    if jsSupport
      label(for='avatar')
        span Avatar
        .avatar-preview
          if profile.avatar
            pre.photo=profile.avatar
        #preview
        input(type='file', id='photo-picker')
        textarea(class='hidden', name='avatar', id='photo')
    else
      label(for='avatar')
        span Avatar (paste in your ascii)
        textarea(name='avatar_text')

    label(for='name')
      span Name
      input(type='text', name='name', value=profile.name)

    label(for='bio')
      span Bio
      input(type='text', name='bio', value=profile.bio)

    label(for='url')
      span URL
      input(type='text', name='url', value=profile.url)

    input(type='hidden', name='_csrf', value=csrf)
    button(type='submit') Update
